<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/header.css" />
    <link rel="stylesheet" href="/public/css/styles.css" />
    <link rel="icon" href="/public/assets/icon.ico" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Conteúdos</title>
  </head>
  <body>
    <header>
      <div class="img">
        <img src="/public/assets/logo.png" alt="Logo " />
      </div>
      <div class="links">
        <ul>
          <li><a href="/about.html">Sobre</a></li>
          <li><a href="/content.html">Conteúdos</a></li>
          <li>
            <a href="https://discordapp.com/invite/gCRAFhc" target="_blanck"
              >Comunidade</a
            >
          </li>
          <li>
            <a href="mailto:oi@rocketseat.com.br" target="_blanck">Email</a>
          </li>
          <li><a href="tel:+5547992078767" target="_blanck">Telefone</a></li>
        </ul>
      </div>
    </header>

    <div class="container-content">
      <div class="cards">
          <div class="card">
              <img src="/public/assets/discover.png" alt="">
              <h1>Discover</h1>
              <h2>CURSOS</h2>
              <p>
                Comunidade e conteúdo gratuito que te levarão para o próximo nível em programação
              </p>
          </div>
          <div class="card">
            <img src="/public/assets/launchbase.png" alt="">
            <h1>LaunchBase</h1>
            <h2>BOOTCAMP</h2>
            <p>Domine programação do zero e tenha acesso às melhores oportunidades do mercado</p>
          </div>
          <div class="card">
              <img src="/public/assets/gostack.png" alt="">
              <h1>GoStack</h1>
              <h2>BOOTCAMP</h2>
              <p>Treinamento imersivo nas tecnologias mais modernas de desenvolvimento web e mobile</p>
          </div>
      </div>
    </div>
  </body>
</html>
