<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/styles.css" />
    <link rel="icon" href="/public/assets/icon.ico" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="img">
        <img src="/public/assets/logo.png" alt="Logo " />
      </div>
      <div class="links">
        <ul>
          <li><a href="/about.html">Sobre</a></li>
          <li>
            <a href="https://discordapp.com/invite/gCRAFhc" target="_blanck"
              >Comunidade</a
            >
          </li>
          <li>
            <a href="mailto:oi@rocketseat.com.br" target="_blanck">Email</a>
          </li>
          <li><a href="tel:+5547992078767" target="_blanck">Telefone</a></li>
        </ul>
      </div>
    </header>

    <div class="container-content">
      <div class="image-content">
        <img src="/public/assets/image.png" alt="Image" />
      </div>
      <main class="content">
        <p>
          Não existem limites para o que podemos imaginar. Porque somos livres.
          Buscamos evolução. Queremos experiências extraordinárias. Não existem
          limites para o que podemos construir. Porque estamos juntos. Abraçamos
          os desafios. Sabemos que o universo é infinito. Não existem limites
          para o que podemos transformar. Porque temos paixão. Geramos valor
          incondicional. Nos importamos com o legado. Não existem limites.
          Porque o aprendizado é contínuo. E sempre haverá um próximo nível.
        </p>
      </main>

      <div class="tecnologies">
          <ul>
              <li>
                  <img src="/public/assets/node.png" alt="Node">
                  <h3>Node</h3>
              </li>
              <li>
                <img src="/public/assets/react.png" alt="React">
                <h3>React</h3>
            </li>
            <li>
                <img src="/public/assets/react.png" alt="React Native">
                <h3>React Native</h3>
            </li>
          </ul>
      </div>
    </div>

    <footer>
        <a href="">Github</a>
        <a href="">Instagram</a>
        <a href="">Facebook</a>
    </footer>

    <script src="/public/js/scripts.js"></script>
  </body>
</html>
